body {
    background-color:  whitesmoke;
}

#introduction{
    position: relative;
    margin-top: 10%;
    margin-left: 10%;
    font-size: 36px;
    padding-bottom: 180px;
    line-height: 12px;
}

#introduction .name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#introduction .intro {
    color: #000000;
    font-weight: lighter;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
}

#footer {
    position: relative;
    margin-top: 100px;
}