/*
Raleway:
font-family: 'Raleway', sans-serif;

Merriweather:
font-family: 'Merriweather', serif;

Source Code Pro:
font-family: 'Source Code Pro', monospace;

*/

body {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    background-color:  darkslategray;

    font-family: 'Raleway', sans-serif;
}

.hover-underline:hover {
    text-decoration: underline;
}

.hover-changecolor:hover {
    color: #A89797;
}

.italic {
    font-style: italic;
}

.link {
    /* color: white; */
    color: #EDF5E9;
    text-decoration: none;

    font-weight: 400;
    opacity: 90%;
}

.name {
    color: whitesmoke;
    font-weight: 600;
    font-size: 72px;

    position: relative;
    margin-bottom: -2%;
}

.short-intro {
    color: #87A890;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-style: normal;

    margin-top: 1%;
}

.content-title {
    color: whitesmoke;
    font-weight: 600;
    font-size: 30px;

    position: relative;
    /* margin-bottom: -2%;    */
}

.content {
    margin-top: 0px;
    margin-bottom: 0px;

    color: #DCF5F1;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    text-align: left;
}

.small-margins-top {
    margin-top: 1px;
}

.small-margins-top {
    margin-bottom: 1px;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.circle_image {
    border-radius: 100%;
    width: 300px;
    height: auto;
}

.small_name{
    font-size: 38px;
    color: whitesmoke;

    margin-bottom: -2%;
}

.block {
    padding: 4px 4px 4px 4px;
    background-color: #9DA897;
    border-radius: 7%;
    /* opacity: 70%; */
}

.block:hover {
    /* opacity: 100%; */
    background-color: #DCF5F1;
    color: #9DA897;
}

.media-link {
    padding: 7px 7px 7px 7px;
    border-radius: 7%;

    font-family: 'Raleway', sans-serif;;
    font-weight: 600;
}

.twitter-color {
    background-color: #1da1f2;
}

.twitter-color:hover {
    background-color: white;

    color: #1da1f2;
}

.ig-color {
    background-image: linear-gradient(to right, #405de6, #833ab4, #e1306c);
}

.ig-color:hover {
    color: #405de6;

    background-color: #833ab4;
}

.footer {
    position: relative;
    margin-top: 26%;
    /* margin-top: 100px; */

    color: white;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
}

#title {
    position: relative;
    margin-left: 0%;
}

#introduction li {
    list-style: square;
}

/* #name-intro{ 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

#navbar {
    position: relative;
    margin-top: 0px;
    margin-left: 0%;

    font-size: 18px;
}

#introduction {
    margin-top: 4%;
}

#small-navbar {
    margin-top: 1%;
}

@media screen and (max-width:360px) {
    #title{
        font-size: 26px;
        
        line-height: 8px;
        margin-top: 10%;
        margin-bottom: -10px;
    }
}